name: Build

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/gh-pages-publishing.yml'
      - '.github/workflows/gh-pages-status.yml'
      - '.github/workflows/list-installed-browsers-of-gh-action-runners.yml'
      - '.github/workflows/release-management.yml'
      - 'docs/**'
      - '*.md'
      - LICENSE
  pull_request:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/gh-pages-publishing.yml'
      - '.github/workflows/gh-pages-status.yml'
      - '.github/workflows/list-installed-browsers-of-gh-action-runners.yml'
      - '.github/workflows/release-management.yml'
      - 'docs/**'
      - '*.md'
      - LICENSE

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Verify node, npm version
        run: |
          node --version
          npm --version
      - name: Install dependencies
        run: npm ci
      - name: Build Application
        run: npm run build
