name: GitHub Pages Publishing

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - '.github/workflows/gh-pages-publishing.yml'
  pull_request:
    branches:
      - master
    paths:
      - 'docs/**'
      - '.github/workflows/gh-pages-publishing.yml'

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: ./build-doc.bash
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: documentation-${{github.sha}}
          path: docs-generated

  deploy:
    # TODO only when run on master branch
    # depends on generate which must succeed
    # needs.<job id>.result
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Download
        uses: actions/download-artifact@v2
        with:
          name: documentation-${{github.sha}}
      - nam: List content
        run: |
          pwd
          ls -lha
          echo "latest commit sha: ${GITHUB_SHA}"
      # only on pull request
      - name: Fake Preview Deploy
        if: github.event_name == 'pull_request'
        run: echo Fake Deploy Doc Preview!
      # only on push to master
      - name: Deploy to gh-pages
        if: github.event_name == 'push' &&  github.event.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          keep_files: true
          user_name: 'redfish4ktc'
          user_email: 'redfish4ktc@users.noreply.github.com'
