name: GitHub Pages Publishing

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - '.github/workflows/gh-pages-publishing.yml'
  pull_request:
    branches:
      - master
    paths:
      - 'docs/**'
      - '.github/workflows/gh-pages-publishing.yml'

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "latest commit sha: ${GITHUB_SHA}"
          git log -1
      - name: Build
        run: ./build-doc.bash
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: documentation
          path: docs-generated

  deploy:
    # TODO only when run on master branch
    # depends on generate which must succeed
    # needs.<job id>.result
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Download
        uses: actions/download-artifact@v1
        with:
          name: documentation
      - run: ls -lha
      - run: |
          echo "latest commit sha: ${GITHUB_SHA}"
#      - name: Deploy
#if: startsWith(github.ref, 'refs/tags/')
#        uses: peaceiris/actions-gh-pages@v3
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          publish_dir: ./documentation
#          keep_files: true
#          user_name: 'process-analytics-bot'
#          user_email: '62586190+process-analytics-bot@users.noreply.github.com'
